* {
  margin:0;
  padding:0;
}

body {
  /* min-width: 550px; */
}

#mainContainer {
  /* margin: 0 auto 0 auto; */
  padding-top: 20px;
  /* background-color: #EEE; */
}

.canvasContainer #c, .drawingContainer .d {
  /* margin: 10px; */
  border:8px solid #777;
}

.drawingContainer img {
  width:100%;
  max-width: 500px;
}

#colorPickerContainer {
  /* text-align: center; */
}

#colorPickerContainer .color {
  border:1px solid #888;
  background-color: #FF0000;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#colorPickerContainer .color:not(:first-child) {
  margin-left: 5px;
}

#controlsContainer {
  /* text-align: center; */
}

#footerContainer a {
  /* margin:0 10px 0 10px; */
}
