RewriteEngine On

# Matches Hardcoded Gallery
RewriteRule ^gallery/new/?$ gallery.php?sort=new [L,QSA]
RewriteRule ^gallery/top/?$ gallery.php?sort=top [L,QSA]

# Matches Search
RewriteRule ^search$ search.php [L,QSA]

# Matches Admin
RewriteRule ^admin/?$ admin.php

# Matches About
RewriteRule ^about/?$ about.php

# Matches Contact
RewriteRule ^contact/?$ contact.php

# Matches gallery
RewriteRule ^gallery/?$ gallery.php [L,QSA]

# Matches university slug
RewriteRule ^([a-z0-9\-]+)/?$ gallery.php?uni=$1 [L,QSA]

# Matches university slug and professor slug
RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)/?$ gallery.php?uni=$1&prof=$2 [L,QSA]

# Matches university slug and professor slug and drawing id
RewriteRule ^([a-z0-9\-]+)/([a-z0-9\-]+)/([a-z0-9\-]+)/?$ drawing.php?drawing=$3 [L,QSA]
